body {
   margin:0;
   padding:0;
   font-size:1.1em;
   font-family:Roboto,Helvetica,sans-serif;
   /*background:#ebeef1;*/
   background:#fff;
   color:#333;
   -webkit-backface-visibility: hidden;
   -webkit-touch-callout: none !important;
   -webkit-box-sizing: border-box;
   overflow: hidden;
   font-weight:300;
}
A { text-decoration:none; }
UL { list-style:none; margin:0; padding:0; }
IMG { max-width:100%; border:0; }

/* menu */
div#nav {
   background:#009ff2;
}
.botone {
  -webkit-appearance: none;
   -webkit-border-radius:0;
   border-radius:0;
   padding:15px 10px;
   border:0;
   background:transparent;
   color:#fff !important;
}
.secciones {
   display:none;
   -webkit-transition: all .5s ease-in;
   background:#f8f8f8;
   overflow:hidden;
   position:relative;
   top:40px;
   padding:10px;
   display:block;
}
